<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>상품<font color="Orange">리스트 </font>호출 <font color="Green">및</font> 출력 하기</h1>
    <table border="1">
        <thead>
        <tr>
            <td>Page</td>
            <td>index</td>
            <td>순번(count)</td>
            <td>상품명</td>
            <td>설명</td>
            <td>가격</td>
            <td>등록 일자</td>
            <td>수정 일자</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bean, status: ${beanList}">
            <td>
                <a th:href="@{https://www.thymeleaf.org/}">페이지 클릭</a>
            </td>
            <td th:text="${status.index}"></td>
            <td th:text="${status.count}"></td>
            <td th:text="${bean.name}"></td>
            <td th:text="${bean.description}"></td>
            <td th:text="${bean.price}"></td>
            <td th:text="${bean.regDate}"></td>
            <td th:text="${bean.updateDate}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>